body {
    margin: 0;
}

.main {
    height: 100vh;
}

.main-side, .panel-side{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

/* Header Container --> */
.title-container h1 {
    color: #fc3c3c;
    margin-bottom: 0;
}

.title-container h4 {
    text-transform: uppercase;
    color: #CACBCF;
}

.search-container {
    display: flex;
    align-items: center;
}

.row.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row.stats-container{
    border-radius: 12px;
    align-items: center;
}
.card{
    background-color: #EFF2F6;
    transition: 0.3s ease-in;
}

.card:hover{
    transform: translateY(-3px);
    box-shadow: 0.4px 4px 5px 0.3px;
    border: 3px solid #545b62;
    background-color: #ced1d4;
    border-radius: 0.3em;
    
}

.active-card{
    overflow: visible;
    text-transform: none;
    border: 3px solid #545b62;
    border-radius: .6rem;
}

.stats-container .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;}

/* .active-card{
    background-color:rgb(92, 92, 92);
} */

.total-number {
    color: #1d2c4d;
}

.active-number {
    color: #9d80fe;
}

.recovered-number {
    color: #7dd71d;
}

.deaths-number {
    color: #e53e3e;
}
/* Header Container <-- */



/* MapStyles --> */
.map-container {
    height: 500px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}
/* MapStyle <-- */


/* InfoWindowStyle --> */

.info-container {
    width: 150px;
}

.table thead th{
    padding: 0;
}
.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-confirmed, .info-recovered, .info-deaths {
    font-size: 16px;
    margin-top: 5px;
}
/* InfoWindowStyle <-- */


/* Charts Container Style --> */
.chart-container {
    height: 300px;
    margin-left: 0;
    margin-right: 0;
}

.chart-container .col {
    background-color: #EFF2F6;
    border-radius: 12px;
}

.linear-chart , .pie-chart{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.buttons{
    display: flex;
    justify-content: space-around;
}
/* Charts Container <-- */




/* InfoData */
.row.countries-info {
    height: 400px;
    display: flex;
    justify-content: center;

}

.country-data {
    height: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: 0;
    background-color: #EFF2F6;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
